.footer {
    background: #f6f6f6;
    padding: 30px 0;
    &__adaptive {
        flex-direction: column;
    }
    &__adaptive-logo {
        &::before {
            display: none;
        }
    }
    &__adaptive-margin-top {
        margin-top: 25px;
    }
}